apiVersion: v1
kind: Service
metadata:
  name: kubeapp-service
spec:
  selector:
    app: kubeapp
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30079
  type: NodePort
